# Dependencies
node_modules/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Local cache
.cache-synpress/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Env
.env
my-report/index.html
